body{
  margin : 0px ;
  padding: 0px;
  font-family: "Lato",sans-serif;
  background-color : lightyellow ;
}

html{
  height : 100% ;
}

.middle{
  background-color : white ;
  border-radius: 10px;
  box-shadow: 0 0 10px grey ;
  width : 500px ;
  margin : 0px auto;
  margin-top: 25vh ;
}

.title{
  text-align: center ;
  font-family: "Apple Chancerye" ,cursive;
  font-style: italic ;
}

.cal{
  width : 50% ;
  margin : 0px auto ;
  padding-bottom: 20px ;
}

.input{
  outline : none ;
  width : 155px ;
  height : 35px ;
  margin-right : 2px ;
  font-size : 20px ;
  font-style:italic;
  border-radius: 6px ;
  border : solid 2px #c9c8c5 ;
  text-align: center ;
}

.bgc{
  background-color : #2b87b5 ;
  color : white ;
  border : none;
  outline : none ;
  height : 40px ;
  width : 215px ;
  font-size : 20px ;
  border-radius: 6px ;
  margin-top : 10px ;
}

.bgc:hover{
  color : #2b87b5 ;
  background-color : white ;
}

.bgc:active{
  color : white ;
  background-color:  #2b87b5 ;
}

.button{
  background-color : #2b87b5 ;
  color : white ;
  border : none;
  outline : none ;
  height : 40px ;
  width : 50px ;
  font-size : 24px ;
  border-radius: 6px ;
}

.button:hover{
  color : #2b87b5 ;
  background-color : white ;
}

.button:active{
  color : white ;
  background-color:  #2b87b5 ;
}

.equals{
  background-color : #d12c2c;
}
.equals:hover{
  color : #d12c2c ;
  background-color: white ;
}
.equals:active {
  background-color : #d12c2c;
  color : white  ;
}

.add ,.mul{
    background-color : #2cd169 ;
}

.add:hover ,.mul:hover{
  color :  #2cd169 ;
  background-color: white ;
}

.add:active ,.mul:active {
    background-color : #2cd169 ;
    color : white ;
}

.sub , .div{
    background-color : #e69c3c ;
}

.sub:hover , .div:hover {
    color : #e69c3c ;
    background-color : white ;
}

.sub:active , .div:active {
    background-color : #e69c3c ;
    color : white ;
}
